body {
    font-family: Arial, sans-serif;
    background-color: #fdfafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa-principal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.caixa-perguntas {
    font-size: 18px;
    margin-bottom: 20px;
}

.caixa-alternativas button {
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.caixa-alternativas button:hover {
    background-color: #3700b3;
}

.caixa-resultado {
    margin-top: 20px;
}

.texto-resultado {
    font-size: 18px;
    font-weight: bold;
}
